


/* ===== RESET E VARIÁVEIS ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Cores principais */
  --primaria: #2563EB;
  --primaria_suave: #3B82F6;
  
  /* Status */
  --sucesso: #22C55E;
  --erro: #EF4444;
  --aviso: #FACC15;
  
  /* Estrutura e fundo */
  --secundaria: #F1F5F9;
  --fundo_principal: #F8FAFC;
  --bordas_linhas: #E2E8F0;

  /* Tipografia */
  --texto_principal: #1E293B;
  --texto_secundario: #4b535e;

  /* Fontes */
  --fonte_titulo: 'Poppins', sans-serif;
  --fonte_texto_botoes: 'Inter', sans-serif;
}

/* ===== LAYOUT PRINCIPAL ===== */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: var(--fonte_texto_botoes);
  background-color: var(--fundo_principal);
}

h1,h2,h3,h4,h5,h6{
  color: var(--primaria);

}
.dashboardInfos{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
h1{
  font-size: 1.7em;
}
.dashboardInfos .infos{
    padding: 30px;
    width: 100%;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #b4b9be;
}
.dashboardInfos .infos h3{
    margin-bottom: 30px;
    font-size: 1.2em;
}

.container-principal {
  display: grid;
  grid-template-columns: 250px 1fr; 
  height: 100vh;
  width: 100%;
}

/* SIDEBAR FIXA (Primeira coluna) */
#grid-1 {
  /* Não precisa mais de 'position: fixed' ou 'flex-shrink: 0' */
  /* grid-column: 1 / 2; (Implícito por estar na primeira posição) */
  width: 100%; /* Ocupa a largura total da coluna de 250px */
  background-color: var(--texto_principal);
  color: var(--fundo_principal);
  display: flex; /* Mantido para o layout interno da sidebar (conteúdo vertical) */
  flex-direction: column;
  padding: 20px;
}

/* CONTEÚDO PRINCIPAL (Segunda coluna) */
#grid-2 {
  /* Não precisa mais de 'margin-left' */
  /* grid-column: 2 / 3; (Implícito por estar na segunda posição) */
  background-color: var(--secundaria);
  overflow: auto;
  padding: 50px;
  margin-bottom:70px ;
  display: flex; /* Mantido para o layout interno do conteúdo principal */
  flex-direction: column;
}